.con {
  max-width: 700px;
  margin: auto;
  background-color:rgb(238, 205, 165);
  border-radius: 10px;
  margin-top: 40px;
}

.section {
  margin-top: 40px;
  margin-left: 25px;
}
.section h5{
    text-align: center;
    color: brown;

}
.seats {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.seat {
  width: 55px;
  height: 35px;
  border: none;
  background: white;
  border-radius: 6px;
  cursor: pointer;
 
}

.seat:hover {
  background:rgb(103, 212, 103);
}

.seat.selected {
  background: #28a745;
  color: white;
  
}
.bookbut{
  display: block;
  margin: 20px auto 0 auto;
}
.pro{
    color: white;
    margin-left: 1200px;
    font-size: 22px;
    text-decoration: none;
}
/* .seat {
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
} */

.seat.booked {
  background: rgb(245, 62, 62);
  color: white;
  cursor: not-allowed;
}

.seat.selected {
  background: rgb(61, 61, 247);
  color: white;}

.seat:not(.booked):not(.selected) {
  background: rgb(32, 128, 32);
  color: white;
}

.modal.show {
  position: fixed;          /* stays above all content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;            /* center modal content */
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);  /* dark overlay */
  z-index: 9999;            /* above all sections */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 500px;
  text-align: center;
}