.container {
  max-width: 700px;
  margin: auto;
  background-color: white;
  margin-top: 40px;
}

.section {
  margin-bottom: 20px;
}

.seats {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.seat {
  width: 35px;
  height: 30px;
  border: none;
  background: #d3d3d3;
  border-radius: 6px;
  cursor: pointer;
}

.seat:hover {
  background: #a9a9a9;
}

.seat.selected {
  background: #28a745;
  color: white;
}