.container {
  max-width: 700px;
  margin: auto;
  background-color:rgb(238, 205, 165);
  border-radius: 10px;
  margin-top: 40px;
}

.section {
  margin-top: 40px;
  margin-left: 20px;
}
.section h5{
      text-align: center;
      color: brown;

}
.seats {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.seat {
  width: 55px;
  height: 35px;
  border: none;
  background: white;
  border-radius: 6px;
  cursor: pointer;
 
}

.seat:hover {
  background:rgb(103, 212, 103);
}

.seat.selected {
  background: #28a745;
  color: white;
  
}
.bookbut{
  margin-left: 280px;
  margin-top: 20px;
}
.pro{
    color: white;
    margin-left: 1200px;
    font-size: 22px;
    text-decoration: none;
}