*{
    margin: 0;
    padding: 0;
}
body{
     background: linear-gradient(to right, #FC466B, #3F5EFB);
     height: 100vh;
   
}
.outer1{
    border: 3px solid white;
    width: 380px;
    height: 380px;
    margin-left: 480px;
    margin-top: 120px;
    border-radius: 20px;
    background-color: transparent;
    
}
.outer1 h1{
    color: white;
    margin-left: 140px;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
.outer1 form{
    margin-left: 50px;
    margin-top: 50px;
    color: white;
    font-weight: 600;
   
}
.butt{
    border: 1px solid white;
    margin-left: 80px;
    padding: 8px 28px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color:green;
}
.outer1 input{
    outline: none;
    
}
.outer1 input{
    border-bottom: 1px solid white;
    width: 80%;
    height: 30px;
    color: white;
    background-color: transparent;
    
}
.outer1 ::placeholder{
    font-family: cursive;
}

