
.abo{
    color: white;
    text-align: center; 
    margin-left: 240px;
    text-align: center;
}
.abo p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    margin-top: 40px;
}