*{
    margin: 0;
    padding:0
}
.art{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: "Amarna", sans-serif;
}
.art{
    margin-top: 130px;
}
.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}
.book{
    background-color: yellow;
    width: 50%;
    margin-left: 80px;
}
.book:hover{
    background-color: yellow;
    color: black;
}
.concert-card {
background: linear-gradient(135deg, #1d60db, #1d2229);
  color: white;
  border-radius: 16px;
}

