.music-footer {
  background: linear-gradient(to right, #1132db);
  overflow: hidden;
}



/* Footer links */
.footer-link {
  color: #ccc;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer-link:hover {
  color: #ffc107;
  padding-left: 5px;
}

/* Social icons animation */
.social-icons a {
  color: white;
  font-size: 1.4rem;
  margin-right: 15px;
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 18px;
}
.social-icons a:hover {
  transform: translateY(-5px) scale(1.1);
  color: crimson;
}

/* Footer copyright */
.music-footer span {
  color: yellow;
}
.foot{
    margin-left: 450px;
}