*{
    margin: 0;
    padding: 0;
}
/* body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-size: cover;
    background-repeat: no-repeat;
} */
 body{
    background: linear-gradient(to right, #FC466B, #3F5EFB);
    
 }
.search{
    margin-left: 440px;
}
 .top li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.top li a:hover{
    color: white;
}


